{% extends 'base.html.twig' %}


{% block body %}

    <h1 class="header center teal-text text-lighten-1">Bienvenue!</h1>
    <div class="row center">
        <h5 class="header col s12 light text-center">Hopital connecté</h5>
    </div>
{% endblock %}

